<h1>Polymer Rails Example</h1>
<p>Basic example of a polymer styled app using the polymer rails gems<br>
<code>gem 'polymer-rails'<br>
gem 'polymer-core-rails'<br>
gem 'polymer-paper-rails'</code></p>
<div>Flat buttons</div>

    <paper-button>button</paper-button>
    <paper-button class="colored">colored</paper-button>
    <paper-button disabled>disabled</paper-button>
<br>
<div>Raised buttons</div>

    <paper-button raised>button</paper-button>
    <paper-button raised class="colored">colored</paper-button>
    <paper-button raised disabled>disabled</paper-button>
