# SQLite Connection Strings
development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: sqlite3
  database: db/production.sqlite3
  pool: 5
  timeout: 5000

#Example PG Connection Strings
development:
  adapter: postgresql
  database: polymer_rails_example_development
  host: localhost
  username:
  password:
production:
  adapter: postgresql
  database: polymer_rails_example_production
  host: localhost
  username:
  password:
